<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">


<!--        <th:block th:if="${number == diceFace}">-->
<!--            <p>The dice face was <span th:text="${diceFace}"></span>, and your number was <span th:text="${number}"></span>. YES!!! you WIN!</p>-->
<!--        </th:block>-->



<!--        <th:block>-->
<!--            <p><h1>PhotonLife</h1></p>-->
<!--        </th:block>-->

<!--        <th:block>-->
<!--            <p>Code / {programming}</p>-->
<!--        </th:block>-->

<!--        <th:block>-->
<!--            <p><span>3D Realms</span></p>-->
<!--        </th:block>-->

<!--        <th:block>-->
<!--            <p><span>Photographic Archive</span></p>-->
<!--        </th:block>-->

<!--        <th:block>-->
<!--            <p><span>Contact / Resume</span></p>-->
<!--        </th:block>-->


        <div>
            <p><h1>PhotonLife</h1></p>
        </div>

        <div>
            <p>Code / {programming}</p>
        </div>

        <div>
            <p><span>3D Realms</span></p>
        </div>

        <div>
            <p><span>Photographic Archive</span></p>
        </div>

        <div>
            <p><span>Contact / Resume</span></p>
        </div>




    </nav>


</html>