<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
</head>
<body>
<h4>Guessing Game</h4>
<p>I'm going to roll the dice, guess the number I get. The number is between 1 and 6.</p>

<form action="/roll-dice/1" method="post">
    <input type="hidden" name="number" value="1">
    <button type="submit">1</button>
</form>
<form action="/roll-dice/2" method="post">
    <input type="hidden" name="number" value="2">
    <button type="submit">2</button>
</form>
<form action="/roll-dice/3" method="post">
    <input type="hidden" name="number" value="3">
    <button type="submit">3</button>
</form>
<form action="/roll-dice/4" method="post">
    <input type="hidden" name="number" value="4">
    <button type="submit">4</button>
</form>
<form action="/roll-dice/5" method="post">
    <input type="hidden" name="number" value="5">
    <button type="submit">5</button>
</form>
<form action="/roll-dice/6" method="post">
    <input type="hidden" name="number" value="6">
    <button type="submit">6</button>
</form>


</body>
</html>